*{ margin: 0;
    font-family: 'work sans';
}

/* ALL THINK ARE POSSIBLE IF YOU THINK */


.banner{
    width: 100%;
    height: 808px;
    left: 1600px;
    top: 808px;
    text-align: right;
    background :url(flat-lay-abstract-composition-with-innovation-elements.jpg)
}
.banner-title{
    position: absolute;
width: 525px;
height: 228px;
left: 827px;
top: 216px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 76px;
text-align: right;

/* Dark 01 */

color: #151414;

}
.banner-sub-title{
    position: absolute;
width: 494px;
height: 78px;
left: 876px;
top: 468px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */

text-align: right;

/* Dark 02 */

color: #444343;

}

.btn-primary{
/* Group 3987 */


position: absolute;
width: 160px;
height: 64px;
left: 1210px;
top: 578px;
color: #FFFFFF;
background: #F15B22;
border-radius: 5px;
}